<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도전과제</title>
    <style>
      .starsize{
        width: 10px;
        height: 10px;
      }
      .grayscale{
        filter:grayscale(1);
      }
      .alerttext{
        position:absolute;
        background-color: black;
        color: white;
        display:none;
      }
      div:hover+.alerttext{
        display:inline;
      }
      </style>
      <link rel="stylesheet" href="/search/style.css">
</head>
<body>
  <div class="button_and_summoner">
    <a href="/"><button class="button">nerf.gg</button></a>
    <a href="/mypage"><button class="button">마이페이지</button></a>
    <a href="/Challenges"><button class="button">도전과제</button></a>
    <div id="account">
      <span id="ID">아이디 : <%= UserId %></span>
      <form action='/signout' method="post"><button class="button">로그아웃</button></form>
  </div>
</div>
<div class>
  출석일수 : <%=date%>
  <% for(var i=1;i<=9;i=i+2){%>
    <% if (date>=i) {%>
    <img src="images/star.png" class="starsize">
    <%}else{%>
    <img src="images/star.png" class="grayscale starsize">
   <%}%>
  <%}%>
</div><div class="alerttext" style="z-index: 2;">출석 1/3/5/7/9일 달성</div> 

<div class="search">
  검색횟수 : <%=search%> 
  <% for(var i=5;i<=25;i=i+5){%>
    <% if (search>=i) {%>
      <img src="images/star.png" class="starsize">
    <%}else{%>
      <img src="images/star.png" class="grayscale starsize">
    <%}%>
 <%}%>
</div>
</div><div class="alerttext" style="z-index: 2;">검색 5/10/15/20/25회 달성</div> 

</body>
</html>