<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도전과제</title>
</head>
<body>
  출석일수 : <%= date%>  
</body>
</html>