body
{
    margin: 0%;
    text-align: center;
    vertical-align: center;
}
.button_group
{
    display: flex;
    background-color: rgb(45, 45, 45);
}
.button
{
    border: none;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(45,45,45);
    color: white;
    
}
.button:hover
{
    color: #FFFF00;
}

#rankedData
{
    border: 2px solid black;
    height: 150px;
    padding: 12px;
}
#rankedWin
{
    color: green;
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding: 15px;
}
#rankedLose
{
    color: red;
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding: 15px;
}
#rankedWinRatio
{
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding: 15px;
}
#rankedDivision
{
    font-weight: bold;
    font-size: 15px;
    float: left;
    padding: 15px;
}